.card {
  border: 2px solid $ink-night;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  border-radius: 10px;
  background-color: $cloud;
}

.card.contained {
  @include respond-to(tablet) {
    padding: 1.5em 5em;
  }
}

.card-shadow {
  @extend .card;
  position: relative;
  margin-right: 0.875em;

  @include respond-to(tablet) {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0.875em;
    left: 0.875em;
    right: -0.875em;
    bottom: -0.875em;

    background-color: $bright-yellow;
    border: 2px solid $ink-night;
    border-radius: 6px;
    z-index: -1;
  }
}
