.card {
  border: 2px solid $ink-night;
  padding: 2em;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: 2em;
  border-radius: 10px;
  background-color: $cloud;
}

.card.contained {
  @include respond-to(tablet) {
    padding: 1.5em 5em;
  }
}

.card-shadow {
  @extend .card;
  position: relative;
  margin-right: 0.875em;

  @include respond-to(tablet) {
    margin-right: 0;
  }

  /* Carte principale avec ombre */
  input {
    // border: 2px solid $ink-night;
    // background-color: $light-beige;
  }

  &::before {
    content: "";
    position: absolute;
    top: 12px; /* Décalage vers le bas */
    left: 12px; /* Décalage vers la droite */
    right: -14px; /* Décalage à droite */
    bottom: -14px; /* Décalage vers le bas */
    background-color: $bright-yellow;
    border: 2px solid $ink-night;
    border-radius: 6px;
    z-index: -1;
  }
}
