.header {
  // background-color: #f9f5f2;
  background-color: pink;
  color: white;

  /* width: 100%; */

  & .container {
    border: 4px solid green;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid black; */
    flex-direction: row;

    @include respond-to(desktop) {
      .navbar {
        margin-left: auto; /* Fait en sorte que la navbar et le bouton se déplacent à droite */
      }
    }
  }
}

.logo-container h1 {
  margin: 0;
  color: black;
  background-color: pink;
}

.user-link {
  color: $ink-night;
  font-size: 3em;
}
