.content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

.sections-container {
  display: grid;
  grid-template-columns: 1fr; // One column by default (for smaller screens)
  gap: 2em;
  grid-auto-rows: minmax(200px, auto);
}

@media (min-width: 768px) {
  .sections-container {
    grid-template-columns: repeat(2, 1fr);

    &.three-sections {
      > section:nth-child(1),
      > section:nth-child(2) {
        grid-column: 1 / 2; // Colonne gauche
        align-self: start; // Empêche de grandir avec le panier
      }

      > section:nth-child(3) {
        grid-column: 2 / 3; // Colonne droite (panier)
        grid-row: 1 / span 2; // Fixe la position en haut de la colonne
        align-self: start;
        min-height: 100px; // Hauteur initiale du panier
        transition: height 0.3s ease; // Animation fluide
      }
    }

    &.four-sections {
      grid-template-areas:
        "area-1 area-2"
        "area-3 area-4";

      > section:nth-child(1) {
        grid-area: area-1;
      }

      > section:nth-child(2) {
        grid-area: area-3;
      }

      > section:nth-child(3) {
        grid-area: area-2;
      }

      > section:nth-child(4) {
        grid-area: area-4;
      }
    }
  }
}
