// body {
//   margin: 0;
//   font-family: Arial, sans-serif;
//   background-color: #f9f5f2;
// }

.header {
  position: relative;
  background-color: #f9f5f2;
  color: white;
  padding: 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid black; */
  flex-direction: row; /* S'assurer que les éléments sont en ligne */
  /* width: 100%; */
}

.logo-container h1 {
  margin: 0;
  color: black;
  background-color: pink;
}

.navbar {
  position: absolute;
  width: calc(100% - 2.5em);
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 3em; /* Ajoute une marge au-dessus de la navbar */
  background-color: skyblue;
  transform: translateY(0); /* Déplace la navbar juste en dessous */
  transition: transform 0.7s ease;
  // z-index: -1;
  border: 2px solid black;
  border-radius: 7px;
}

.main-container {
  position: relative;
  // z-index: -10;
}

.navbar.visible {
  transform: translateY(0);
  /* La navbar est visible, donc elle reste sous le header */
}

.navbar:not(.visible) {
  transform: translateY(-150%);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navbar li {
  padding: 10px;
}

#navbar a {
  color: black;
  text-decoration: none;
}

.navbar-toggle {
  border: none;
  padding: 10px;
}

.navbar-toggle:hover {
}

.connect {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.connect:hover {
  background-color: #555;
}

@media (min-width: 768px) {
  #headerContent {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #navbar {
    position: static; /* Enlève la position absolue */
    transform: none; /* Enlève le transform utilisé pour les petites tailles */
    transition: none; /* Pas de transition */
    z-index: 50;
    background-color: #f9f5f2;
    border: none;
    width: auto; /* On enlève la largeur 80% pour qu'il s'étende sur toute la largeur */
    margin-top: 0;
  }
  #navbar:not(.visible) {
    transform: none;
  }

  #navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Flex en ligne */
    flex-direction: row; /* Les éléments du menu sont en ligne */
    justify-content: flex-end; /* Aligne les éléments à droite */
    gap: 2em;
    white-space: nowrap;
  }

  #navbar li {
    padding: 10px;
  }
  #navbar li a {
    color: black;
    padding: 0.5em 1em;
  }

  #navbar li a:hover {
    border: 2px solid black;
    border-radius: 20px;
    background-color: skyblue;
  }

  #navbar a {
    color: white; /* Changer la couleur des liens pour qu'ils soient visibles sur un fond sombre */
    text-decoration: none;
  }

  #menuToggle {
    display: none; /* Cache le bouton du menu toggle en mode desktop */
  }
}
