.navbar {
  position: absolute;
  width: calc(100% - 2.5em);
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 0.5em;
  background-color: $bright-yellow;
  transform: translateY(0);
  transition: transform 0.7s ease;
  border: 2px solid black;
  border-radius: 7px;

  &.zindex-hidden {
    z-index: -1;
  }
  &.zindex-visible {
    z-index: 1;
  }

  &.visible {
    transform: translateY(0);
  }

  &:not(.visible) {
    transform: translateY(-200%);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  li {
    padding: 0.75em;
    border: 3px solid red;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

main.container {
  position: relative;
  // z-index: -10;
  &.zindex-hidden {
    z-index: -10;
  }

  &.zindex-visible {
    z-index: 1;
  }
}

.dropdown i {
  font-size: $f20;
}

.submenu {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  &.visible {
    display: block;
    max-height: 20em;

    li a {
      display: flex;
      align-items: center;

      i {
        margin-right: 0.5em;
      }
    }
  }
}

.dashboard-link {
  display: flex;
  align-items: center;

  i {
    margin-left: 0.5em;
  }
}

@media (min-width: 768px) {
  .navbar {
    position: static;
    transform: none;
    transition: none;
    // z-index: 50;
    background-color: #f9f5f2;
    border: none;
    width: auto;
    margin-top: 0;
    margin: 0;

    &:not(.visible) {
      transform: none;
    }

    &.zindex-hidden {
      z-index: initial;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      // justify-content: flex-end;
      align-items: center;
      gap: 2em;
      white-space: nowrap;
    }

    li {
      display: flex;
      align-items: center;
    }

    li a {
      color: black;
      padding: 0.5em 1em;
      border-radius: 6.25em;
      border: 2px solid black;
      font-weight: $medium;
    }

    li a:hover {
      background-color: $bright-yellow;
      box-shadow: 3px 3px 0 0 $ink-night;
    }
  }

  .navbar-toggle {
    display: none;
  }

  .dropdown {
    position: relative;
    // padding: 0;
  }

  .submenu {
    display: none;
    background-color: pink;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    border: 3px solid red;
    // max-height: 0;

    width: 25em;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &.visible {
      display: block;
      max-height: 25em;
      padding: 1em 0;

      li a {
        display: flex;
        align-items: center;

        i {
          margin-right: 0.5em;
        }
      }
    }
  }
}
