<dialog id="confirm-modal">
  <div class="confirm-modal-content">
    <img
      src="{{ asset('images/icons/warning-circle-fill.svg') }}"
      alt="Avertissement"
      style="width:32px;height:32px;vertical-align:middle;"
    />
    <p>Êtes-vous sûr de vouloir supprimer cet événement&nbsp;?</p>
    <div class="modal-actions">
      <button id="modal-cancel" class="btn btn-cancel">Annuler</button>
      <button id="modal-confirm" class="btn btn-danger">Oui, Supprimer</button>
    </div>
  </div>
</dialog>
