<dialog class="eventModal eventSummaryModal">
  <div class="eventModal-content">
    <button class="closeButton"><i class="ph ph-x"></i></button>
    <h2 class="modalTitle"></h2>
    <p class="modalRegisteredVolunteers"></p>
    <ul class="modalVolunteerList"></ul>
    <p class="modalTime"></p>
    <button class="editEventButton button-primary"><i class="ph ph-pencil"></i>Modifier</button>
  </div>
</dialog>
