<dialog id="eventSummaryModal">
  <button id="closeButton"><i class="ph ph-x"></i></button>
  <h2 id="modalTitle"></h2>
  <p id="modalVolunteers"></p>
  <button class="button-secondary"><i class="ph ph-eye"></i>Voir tous les bénévoles</button>
  <p id="modalTime"></p>
  <button id="editEventButton" class="button-primary"><i class="ph ph-pencil"></i>Modifier</button>
</dialog>
