<dialog id="eventSummaryModal">
  <h2 id="modalTitle">Résumé de l'événement</h2>
  <p id="modalTime"></p>
  <p id="modalVolunteers">bénévoles inscrits</p>
  <button id="editEventButton" class="button-primary"><i class="ph ph-pencil"></i>Modifier</button>
  <button id="closeButton"><i class="ph ph-x"></i></button>
</dialog>
</dialog>