<dialog id="warning-occurences-modal">
  <div class="confirm-modal-content">
    <img
      src="{{ asset('images/icons/warning-circle-fill.svg') }}"
      alt="Avertissement"
      style="width:32px;height:32px;vertical-align:middle;"
    />
    <p class="modal-text"></p>

    <div class="modal-actions">
      <button id="modal-cancel" class="btn btn-cancel">Revenir en arrière</button>
      <button id="modal-confirm" class="btn btn-danger">Oui, j'ai compris</button>
    </div>
  </div>
</dialog>
