.buttons-wrapper {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;
  gap: 2em;

  @include respond-to(tablet) {
    flex-direction: row;
  }

  & button {
    padding: 0.7em;
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  i {
    margin-right: 0.4em;
  }
}

.payments-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.payment-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $grey-velvet;
  border-radius: 4px;
  padding: 0.5em 1em;
  background-color: $emerald-sea;
  background-color: rgba($emerald-sea, 0.1);

  .payment-details-container {
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    label {
      display: inline-block;
      width: 6em;
    }

    input {
      border: none;
      padding: 0.2em 0.5em;
      width: 5em;
    }
  }

  .delete-button {
    width: auto;
    padding: 0;
  }
}

.transaction-options-fieldset {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form-group.hidden {
  display: none;
}
