.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

  & button {
    border: 2px solid $ink-night;
    padding: 0.5em;
  }
}

.payment-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $ink-night;
  padding: 0.5em;

  .payment-details-container {
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    label {
      display: inline-block;
      width: 6em;
    }

    input {
      border: none;
      padding: 0.2em 0.5em;
      width: 5em;
    }
  }

  .delete-button {
    width: auto;
    padding: 0;
  }
}

.payment-button {
  background-color: $light-beige;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: darken($light-beige, 5%);
    // background-color: $emerald-sea;
    // color: $cloud;
    box-shadow: 4px 4px 0 $ink-night;
  }

  i {
    margin-right: 0.5em;
  }
}
