.donation-form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  & label {
    font-weight: $bold;
  }
}

.last-entry-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include respond-to(tablet) {
    font-size: $f18;
  }
  @include respond-to(desktop) {
    font-size: $f20;
  }
}

.feedback-message {
  font-size: $f28;
  font-weight: $semi-bold;
}
