.card-shadow.login {
  margin-top: 3em;

  @include respond-to(desktop) {
    width: 70%; /* Ajuste la largeur du formulaire */
    margin-left: auto; /* Centre à gauche */
    margin-right: auto; /* Centre à droite */
  }
}
