.card-shadow.auth {
  @include respond-to(desktop) {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
  }
}

.tabs {
  display: flex;
  gap: 1em;

  @include respond-to(desktop) {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .tab {
    flex: 1;
    // padding: 0.75em;
    // text-align: center;
    // cursor: pointer;
    // background-color: $cloud;
    // border: 1px solid $ink-night;
    // transition: background-color 0.3s, border-color 0.3s;
    // font-weight: $semi-bold;
  }

  // .tab.active {
  //   background-color: $bright-yellow;
  //   box-shadow: 4px 4px 0 $ink-night;
  //   border: 1px solid $ink-night;
  // }
}
