.input-quantity-wrapper {
  display: flex;
  align-items: center;
  background-color: $coral;
  border-radius: 2em;
  width: 100%;

  & input,
  button {
    color: $cloud;
  }

  button {
    width: auto;
    & i {
      margin-right: 0;
      font-size: $f24;
    }
  }
}

.sales-card {
  display: none;

  &.show {
    display: block;
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    & label {
      font-weight: $semi-bold;
    }
  }

  & input[type="number"] {
    text-align: center;
    font-weight: $medium;
    border: none;
  }

  &input {
    width: 100%;
  }

  &.form-group.hidden {
    color: red;
    display: none;
  }
}

.details-wrapper {
  display: flex;
  gap: 2em;
}

.cart-container {
  display: grid;
  gap: 1em;

  > li {
    list-style: none;

    > article {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto auto;
      align-items: center;

      h3 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      .details-wrapper {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      .btn-cross-delete {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        justify-self: end;
        align-self: center;
        font-size: 0.875rem;
        width: auto;
      }
    }
  }
}

.clear-cart-button {
  &.show {
    display: flex;
  }

  align-items: center;
  justify-content: center;
}

.cart-status {
  font-weight: $semi-bold;
}

.open-cash-register {
  @include respond-to(desktop) {
    width: 60%;
    margin: 0 auto;
  }
}
