.input-quantity-wrapper.flex {
  display: flex;
  align-items: center;
  padding: 0.2em;
  background-color: $coral;
  border-radius: 2em;
}

.sales-form {
  display: none;
}

.sales-form.show {
  display: flex;
}

// .sales-form.flex {
//   display: flex;
// }

// .input-quantity-wrapper.hidden {
//   display: none !important;
// }
