.user-sections-container {
  padding-top: 3em;
  .graph-container {
    width: 100%;
    .graph {
      max-width: 100%;
      margin: auto;
    }
  }

  .volunteer-sessions-list {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .unsubscribe-button {
      margin-top: 0.5em;
      @include respond-to(tablet) {
        width: auto;
        align-self: flex-start;
      }
    }
  }
}

.see-calendar-btn {
  @extend button;
  @extend .button-primary;
}
