{% extends 'base.html.twig' %}

{% block title %}
  Les entrées
{% endblock %}

{% block body %}
  <main>
    <h1>Les entrées</h1>
    <article></article>
    <article></article>
    <article></article>
  </main>
{% endblock %}
