{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block content %}
  <section class="card">
    <h1>Bienvenue sur Soli'Track</h1>
    <p>
      Ici, les bénévoles de la Recyclerie peuvent enregistrer les pesées, gérer la caisse et suivre les ventes en toute
      simplicité. L'accès à cet outil est réservé aux bénévoles ! Si vous avez envie de rejoindre l'aventure et de nous
      aider à la Recyclerie, il vous suffit de contacter l'association Les Fourmis Soli'Terre.
    </p>
  </section>
  <section class="card">
    <h1>Test</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus saepe reiciendis facere libero voluptates
      blanditiis, laboriosam praesentium ullam veniam. Debitis ex distinctio accusantium impedit dolor vel maiores
      molestiae eum obcaecati?
    </p>
  </section>
{% endblock %}
