{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <main>
        <article>
            <h1>Bienvenue sur Soli'Track</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum culpa perspiciatis facilis odio sit cupiditate, provident,
                temporibus voluptatum maxime ea nulla dolorem error, reiciendis iste sunt maiores cumque veritatis quisquam.
            </p>
        </article>
    </main>
{% endblock %}
