{% extends 'base.html.twig' %}

{% block title %}
  La caisse
{% endblock %}

{% block body %}
  <main><h1>La caisse</h1></main>
{% endblock %}

{# {% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/sales.js') }}"></script>
{% endblock %} #}
