{% extends 'base.html.twig' %}

{% block title %}
  Les ventes
{% endblock %}

{% block body %}
  <main>
    <h1>Les ventes</h1>
    <article>
      <p>Quel article souhaitez-vous ajouter?</p>
      <button>Vêtements</button>
      <button>Autres articles</button>
      <button>Article étiqueté</button>
      <button>Boisson</button>
    </article>
    <article></article>
    <article><p>Panier</p></article>
  </main>
{% endblock %}
