{% extends 'base.html.twig' %}

{% block title %}
  Mentions légales
{% endblock %}

{% block content %}
  <section class="legal-notice card">
    <h1>Mentions légales</h1>
    <article>
      <h2>Éditeur du site</h2>
      <p class="bold">Association Les Fourmi Soli'Terre</p>
      <p>
        36 A boulevard de la gare<br />
        Zone artisanale de la gare<br />
        22830 Plouasne
      </p>
    </article>
    <article>
      <h2>Conception et réalisation du site</h2>
      <p>Clémentine Blondeau</p>
      <p><span class="bold">Email</span> : clementine.blondeau[at]gmail.com</p>
    </article>
    <article>
      <h2>Hébergement</h2>
      <p>Le site est hébergé par <span class="bold">o2Switch</span></p>
      <p>
        222 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand.
        <a href="https://www.o2switch.fr" class="highlighted" target="_blank">www.o2switch.fr</a>
      </p>
    </article>
    <article>
      <h2>Données personnelles</h2>
      <p>Ce site ne collecte pas de données personnelles à votre insu.</p>
      <p>Les informations éventuellement recueillies ne sont jamais transmises à des tiers.</p>
      <p>
        Conformément à la loi "Informatique et Libertés", vous disposez d’un droit d’accès, de rectification et de
        suppression des données vous concernant.
      </p>
    </article>
  </section>
{% endblock %}
