.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.highlighted {
  color: $emerald-sea;
  font-weight: $bold;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: $semi-bold;
}

.semi-bold {
  font-weight: $semi-bold;
}

.medium {
  font-weight: $medium;
}

.alert {
  color: $alert-red;
}

.state-ok {
  color: $state-ok-green;
}

.input-error {
  border: 2.5px solid $alert-red;
  outline: none;
}
