// Colors

$cloud: #ffffff;
$bright-yellow: #ffcb52;
$ink-night: #080222;
$emerald-sea: #00857a;
$coral: #eb5a47;
$pearl-grey: #eff5ff;
$light-beige: #f9f5f2;
$grey-velvet: #6e6d7a;
$grey: #cccccc;

$success-bg: #d4edda;
$success-text: #145222;
$error-bg: #f8d7da;
$error-text: #721c24;

$alert-red: #e90c2d;
$state-ok-green: #1c8221;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;

$f12: 0.75rem; // 12px
$f14: 0.875rem; // 14px
$f16: 1rem; // 16px
$f18: 1.125rem; // 18px
$f20: 1.25rem; // 20px
$f22: 1.375rem; // 22px
$f24: 1.5rem; // 24px
$f26: 1.625rem; // 26px
$f28: 1.75rem; // 28px
$f30: 1.875rem; // 30px
$f32: 2rem; // 32px
$f34: 2.125rem; // 34px
$f36: 2.25rem; // 36px
$f38: 2.375rem; // 38px
$f40: 2.5rem; // 40px
$f42: 2.625rem; // 42px
$f44: 2.75rem; // 44px
$f46: 2.875rem; // 46px
$f48: 3rem; // 48px

$layout-max-width: 1200px;
