{% extends 'base.html.twig' %}

{% block title %}
  Contrôle de caisse
{% endblock %}

{% block content %}
  <h1>Gestion de caisse</h1>
  <section class="card"><h2>Fonctionnalité à venir</h2></section>
{% endblock %}
