{% extends 'base.html.twig' %}

{% block body %}
  <h1>Statistiques</h1>

  <!-- Filtres -->
  <div>
    <select id="filter-movement">
      <option value="incoming">Articles Entrants</option>
      <option value="outgoing">Articles Sortants</option>
      <option value="outgoing">Entrants et Sortants</option>
    </select>

    <select id="filter-period">
      <option value="daily">Journalier</option>
      <option value="monthly">Mensuel</option>
      <option value="yearly">Annuel</option>
    </select>

    <input type="date" id="filter-date" />
    <input type="month" id="filter-month" style="display: none;" />
    <input type="number" id="filter-year" min="2020" max="2030" style="display: none;" />
  </div>

  {{ render_chart(chart) }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/statistics.js') }}" type="module"></script>
{% endblock %}
