{% extends 'base.html.twig' %}

{% block body %}
  <h1>Statistiques</h1>

  <!-- Filtres -->
  <div>
    <select id="filter-movement">
      <option value="incoming">Articles Entrants</option>
      <option value="outgoing">Articles Sortants</option>
      <option value="outgoing">Entrants et Sortants</option>
    </select>

    <select id="filter-period">
      <option value="daily">Journalier</option>
      <option value="monthly">Mensuel</option>
      <option value="yearly">Annuel</option>
    </select>

    <input type="date" id="filter-date" />
    <input type="month" id="filter-month" style="display: none;" />
    <input type="number" id="filter-year" min="2020" max="2030" style="display: none;" />
  </div>

  <div style="width: 800px;"><canvas id="acquisitions"></canvas></div>

  {# <div><canvas id="myChart"></canvas></div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, { type: 'bar', data: { labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], datasets: [{
    label: '# of Votes', data: [12, 19, 3, 5, 2, 3], borderWidth: 1 }] }, options: { scales: { y: { beginAtZero: true }
    } } }); #}
  </script>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ asset('js/statistics.js') }}" type="module"></script>
{% endblock %}
