{% extends 'base.html.twig' %}

{% block title %}Espace personnel
{% endblock %}

{% block body %}

	<main>
		<article>
			<h1>Hello{{ app.user.firstName  }}! ✅</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur omnis nobis aliquid quaerat praesentium laborum assumenda numquam quibusdam? Aliquam, sequi nulla perferendis voluptatem blanditiis quo aliquid velit illum expedita odio.</p>
		</article>
	</main>


</div>{% endblock %}
