* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: $font-primary;
  background-color: $light-beige;
  color: $ink-night;
  font-size: $f16;
  // @include respond-to(desktop) {
  //   font-size: $f18;
  // }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-secondary;
}

h1 {
  font-size: $f32;
  text-align: center;

  @include respond-to(desktop) {
    font-size: $f40;
  }
}

h2 {
  font-size: $f28;
  text-align: center;

  @include respond-to(desktop) {
    font-size: $f32;
  }
}

input {
  border-radius: 4px;
  border: 1px solid $ink-night;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
}

select {
  border-radius: 4px;
  border: 1px solid $ink-night;
  padding: 0.75em;
  font-size: inherit;

  background-color: white;
  cursor: pointer;
}

.ph {
  font-size: 2rem;
}

/////////////////////////////////////

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1em;

  @include respond-to(tablet) {
    padding: 0;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 650px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: auto;
  }
}

// @media (min-width: 1400px) {
//   .container {
//     max-width: 1320px;
//   }
// }
