// @import "../abstracts/variables";
// @import "../base/typography";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: $f18;
  line-height: 1.6;
  font-family: $font-primary;
  background-color: $light-beige;
  color: $ink-night;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-secondary;
}

h1 {
  font-size: $f32;
  text-align: center;

  @include respond-to(desktop) {
    font-size: $f48;
  }
}

h2 {
  font-size: $f28;

  @include respond-to(desktop) {
    font-size: $f32;
  }
}

input {
  border-radius: 4px;
  border: 1px solid $ink-night;
  text-align: center;
  // padding: 0.75em;
  width: 100%;
  box-sizing: border-box;
}

select {
  border-radius: 4px;
  border: 1px solid $ink-night;
  padding: 0.75em;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  appearance: none; /* Pour enlever l'apparence par défaut du navigateur */
  -webkit-appearance: none; /* Pour les navigateurs WebKit (Safari, Chrome) */
  -moz-appearance: none; /* Pour Firefox */
  cursor: pointer;
}

.ph {
  font-size: 2rem;
}

.main-container {
  @include respond-to(desktop) {
    max-width: 1200px;
    margin: auto;
  }
}
